In [2]:
%matplotlib inline
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

### bit.ly/iWantPython 課程
### bit.ly/yenlung 所有的程式碼

# 用range快速生成list

In [6]:
list(range(1,11,2))  #取一到十 每隔兩個(奇數)

[1, 3, 5, 7, 9]

In [7]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [11]:
[x**2 for x in range(1,11)]  #x=1~10的平方

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for迴圈

In [13]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [26]:
s=0
for i in range(1,101):
    s=s+i             #s要在range迴圈內
print(s)              #1+2+....+100=s

5050

# list append

In [27]:
prices=[1024,399,20000]  #想買東西的價錢(歐元)

In [28]:
c=34.1415677  #歐元匯率

In [29]:
for p in prices: #換成台幣
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [50]:
L=[]

In [51]:
L

[]

In [52]:
for p in prices:
    L.append(p*c)
print(L)  #轉換成台幣 list出來

[34960.9653248, 13622.485512300002, 682831.354]

# 字串分割

In [57]:
spam=input("輸入你想買的東西的價格:") #自行輸入

輸入你想買的東西的價格:1024,399,20000,600,30

In [58]:
spam

'1024,399,20000,600,30'

In [61]:
data=spam.split(",") #逗號隔開

In [62]:
data

['1024', '399', '20000', '600', '30']

In [63]:
for p in data:
    print(p)

1024
399
20000
600
30

In [64]:
for p in data:
    p=float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062
1024.247031

In [88]:
p_list=[]
spam=input("輸入你想買的東西的價格:")
data=spam.split(",")

for p in data:
    p=float(p)
    p_list.append(p*c)
    print("價錢",int(p*c),"台幣")

輸入你想買的東西的價格:100,26,199,200
價錢 3414 台幣
價錢 887 台幣
價錢 6794 台幣
價錢 6828 台幣

In [89]:
p_list

[3414.1567700000005, 887.6807602000001, 6794.171972300001, 6828.313540000001]

In [84]:
spam='399 199 1024 250'

In [86]:
spam.split(" ")  #空白隔開

['399', '199', '1024', '250']

In [90]:
spam="399   1999   1024 2520"

In [91]:
spam.split()  #防多按或少按空白

['399', '1999', '1024', '2520']

In [92]:
def exchange(p):  #定義函數
    p=float(p)
    return p*c   #快速匯率換算(沒for迴圈)

In [93]:
exchange("399")

13622.485512300002

# MAP

map(f,L)
把f這個函數作用到List中的每一個元素

In [94]:
L="399   1024 488  2000".split()

In [95]:
L

['399', '1024', '488', '2000']

In [96]:
list(map(exchange,L))

[13622.485512300002, 34960.9653248, 16661.0850376, 68283.1354]

## 緊急用的函數 lambda

In [97]:
def f(x):
    return x**2

In [98]:
f(3)

9

In [102]:
g=lambda x:x**2  #lambda:輸入x 輸出x平方

In [103]:
g(4)

16

In [104]:
L

['399', '1024', '488', '2000']

In [106]:
list(map(lambda p:float(p)*c,L))  #輸入p 輸出浮點數p*c 作用於L上

[13622.485512300002, 34960.9653248, 16661.0850376, 68283.1354]

In [108]:
A="500 900   10000".split()

In [109]:
A

['500', '900', '10000']

In [110]:
list(map(lambda a:float(a)*2+1,A)) #輸入a 輸出浮點數a*2+1 作用於A上

[1001.0, 1801.0, 20001.0]

In [111]:
grades=[47,56,60,75]

In [112]:
list(map(lambda g:np.sqrt(g)*10,grades)) #輸入成績 輸出成績開根號乘以十 作用於grades上 sqrt是根號

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

# list comprehension

In [113]:
L

['399', '1024', '488', '2000']

In [114]:
[float(p)*c for p in L]

[13622.485512300002, 34960.9653248, 16661.0850376, 68283.1354]

# 合併list

In [115]:
L

['399', '1024', '488', '2000']

In [122]:
s=""       #全部連起來 用逗號隔開

for i in L:
    s=s+i+","

In [123]:
s

'399,1024,488,2000,'

In [124]:
s.rstrip(",")  #去掉最後的逗號

'399,1024,488,2000'

In [125]:
s  #但原來的東西不會改

'399,1024,488,2000,'

In [126]:
s[0] #s取第一個

'3'

In [127]:
s[:-1] #另一種去掉逗號的方法 從一開始取 取到倒數第一個

'399,1024,488,2000'

In [128]:
L

['399', '1024', '488', '2000']

In [129]:
",".join(L) #另一種去掉逗號的方法

'399,1024,488,2000'

# 物件中的method

In [130]:
egg=[12,87,55,77,32]

In [131]:
egg.sort()  #排序

In [132]:
egg

[12, 32, 55, 77, 87]

In [133]:
ham="今天天氣很好"

In [134]:
ham[::2]  #字串倒過來列 #隔兩個取

'今天很'

In [135]:
ham[::-1]   #倒序

'好很氣天天今'

In [136]:
from ipywidgets import interact

In [149]:
def move(n=1):
    print(" "*n+"(ﾉ>ω<)ﾉ")
    print(" "*n+"ヽ(●´∀`●)ﾉ")

In [150]:
move()

 (ﾉ>ω<)ﾉ
 ヽ(●´∀`●)ﾉ

In [151]:
interact(move,n=(1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…